<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AskAPI</title>
    <meta name="description" content="API for Questions and Answers">

    {% load staticfiles %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">AskAPI</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href={% url "ask_api:api-status" %}>API status</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href={% url "ask_api:signup" %}>Sign up</a></li>
            </ul>
            <form class="navbar-form navbar-right">
                <div class="form-group">
                    <input type="text" placeholder="Search" class="form-control">
                    <i id="filtersubmit" class="fa fa-search"></i>
                </div>
            </form>
        </div><!--/.navbar-collapse -->
    </div>
</nav>
<div id="main-content" class="container">
    <div class="row">
        {% block main_content %}
        {% endblock main_content %}
    </div>
</div>
<!-- js -->
{% block js %}
    <script src="{% static 'js/jquery-1.11.3.min.js' %}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
{% endblock js %}
<!-- End js -->
</body>
</html>